# .env
.DS_Store

**/mongo/data/*
**/server/common/store/upload/image/*
**/server/common/store/upload/video/*
**/epochs/**
**.pth
**.zip

**/general/*
**/pre-train/*
**/portrait/*
**/landscape/*

**/__pycache__/